<div class="text-center" role="main">
  <h1>Swagger Editor, OpenAPI Server and Angular Integration Solution</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10 card border border-secondary shadow shadow-sm text-left p-3">
        <div>1 - Swagger Editor <a href="//localhost:9000/" target="_blank">Link</a></div>
        
        <hr/>
        2 - Observable result:<br/>
        call api http://localhost:8000/v2/store/inventory
        <hr/>
        <div class="m-3">
          Result : <br/>
          <app-showdata></app-showdata>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
